<!-- <p>password-change works!</p>, -->

<div class="form-group">
    <label for="oldPassword">Старый пароль:</label>
    <input pInputText type="password" id="oldPassword" [(ngModel)]="oldPassword" />
  </div>
  <div class="form-group">
    <label for="newPassword">Новый пароль:</label>
    <input pPassword type="password" id="newPassword" [(ngModel)]="newPassword" [feedback]="false" />
  </div>
  <div class="form-group">
    <label for="confirmPassword">Подтвердите новый пароль:</label>
    <input pPassword type="password" id="confirmPassword" [(ngModel)]="confirmPassword" [feedback]="false" />
  </div>
  
  
  <button pButton class="pbutton" label="Сменить!" (click)="changePassword()"></button>

  