<!-- 
<p-inputgroup>
    <input 
     
    pInputText
    placeholder="поиск тура"
    #searchInput
    />
    <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" variant="text"/>
    </p-inputgroup-addon>
</p-inputgroup>
//V1
<div appHighlight 
selector='.tour-item'
[initFirst]="true"
(onEnter)="selectActive($event)"
class="tours-list flex flex-wrap justify-content-around align-items-stretch">
    @for (item of tours| search: searchInput.value : 'name'; track item.id) {
        <div (click)="goToTour(item)" 
        class="m-2 col-3 tour-item align-self-stretch">
            <p-card
            header="{{item.name}}"
            subheader="{{item.price}}"
            styleClass="tour-p-card">

            <ng-template #header>
                <img alt="Card" class="w-full" src="/img/{{item.img}}">
                </ng-template>

                <p>{{item.description | slice: 0:110}}</p>
                <p (click)="getCountryDetail($event, item.country?.iso_code2)">Страна: {{item.country?.name_ru}} <img [src]="item.country?.flag_url"/></p>

            </p-card>
            
            <div class="basket my-2 ml-2">
                @if(!item.inBasket) {
                    <i (click)="setItemToBasket($event, item)" class="pi pi-cart-plus" style="color: green"></i>
                }
                else {
                    <i (click)="removeItemFromBasket($event, item)" class="pi pi-cart-minus" style="color: red"></i>
                }
                </div>

        </div>
    }
    @empty {
        <div class="no-data">Нет данных</div>
    }
</div>



<p-dialog [(visible)]="showModal" [modal]="true" [style]="{ width: '50rem' }">
    <ng-template #header>
        <div>
            <p>Температура: {{ weatherData.currentWeather }}°C</p>
            <p> Дождь: {{ weatherData.rain ? 'идет' : 'не идет'}} </p>
            <p> Снег: {{ weatherData.snowfall ? 'идет' : 'не идет'}} </p>
            <p>Время суток: {{ weatherData.isDay ? 'день' : 'ночь' }}</p>
        </div>
    </ng-template>

    @if (showModal) {
        <app-map [location]="location"></app-map>
    }
    <ng-template #footer>
        <p-button label="Закрыть" [text]="true" severity="secondary" (click)="showModal = false" />
    </ng-template>
</p-dialog> -->

<!--V2 для работы корзины-->
<p-inputgroup>
    <input pInputText placeholder="поиск тура" #searchInput />
    <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" variant="text"></p-button>
    </p-inputgroup-addon>
</p-inputgroup>

<div appHighlight class="tours-list"> <div *ngFor="let item of tours | search: searchInput.value : 'name'; trackBy: trackById" class="tour-item">
        <div (click)="goToTour(item)">
            <p-card [header]="item.name" [subheader]="item.price" styleClass="tour-p-card">
                <img alt="Card" class="w-10" src="/img/{{item.img}}" />
                <p>{{ item.description | slice: 0:110 }}</p>
                <p (click)="getCountryDetail($event, item.country?.iso_code2, item)">
                    Страна: {{ item.country?.name_ru }} <img [src]="item.country?.flag_url" />
                    
                </p>
            </p-card>
            <div class="basket my-2 ml-2">
                <i *ngIf="!basketService.isInBasket(item)" (click)="setItemToBasket($event, item)" class="pi pi-cart-plus" style="color: green;"></i>
                <i *ngIf="basketService.isInBasket(item)" (click)="removeItemFromBasket($event, item)" class="pi pi-cart-minus" style="color: red;"></i>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="(tours | search: searchInput.value : 'name').length === 0" class="no-data">Нет данных
    </div> -->
    <div *ngIf="(filteredTours$ | async) as tours">
        <div *ngIf="tours.length === 0" class="no-data">Нет данных</div>
        <ng-container *ngIf="tours.length > 0">
            <div *ngFor="let item of tours; trackBy: trackById" class="tour-item">
                <!-- ... (код отображения тура без изменений) ... -->
            </div>
        </ng-container>
    </div>
</div>



<p-dialog [(visible)]="showModal" [modal]="true" [style]="{ width: '50rem' }">
    <ng-template pTemplate="header">
        <div *ngIf="weatherData">
            <p>Температура: {{ weatherData.currentWeather }}°C</p>
            <p> Дождь: {{ weatherData.rain ? 'идет' : 'не идет' }} </p>
            <p> Снег: {{ weatherData.snowfall ? 'идет' : 'не идет' }} </p>
            <p>Время суток: {{ weatherData.isDay ? 'день' : 'ночь' }}</p>
        </div>
    </ng-template>

    <app-map *ngIf="showModal && location" [location]="location">
        <p>Тур {{selectedTour.name}}</p>
    </app-map>

    <ng-template pTemplate="footer">
        <p-button label="Закрыть" [text]="true" severity="secondary" (click)="showModal = false" />
    </ng-template>
</p-dialog>

